In [22]:
# population ==> all the data set  ex. country

# sample ==> sub data of a dataset ex. city

# normal distribution ==> from central tendancy, we have equal data from left and right side.

# central tendancy==> mean, median , mode

# mean = sum of total elements/ frequency(count) of elements
a = 1,4,2,3,5
# mean = (1+2+3+4+5)/5 = 15/5 = 3

# median = sort ===> even = n/2 , odd = n+1/2
a = 1,4,2,3,5
# median = 1,2,3,4,5
# odd = 5+1/2 = 6/2 = 3 rd number ===> median = 3

# mode ===> most frequent values:
a = 1,2,2,3,2,5
# mode = 2

# standard deviation ==> central tendancy ==> gap of next value.

# normal distributed ==> mean = 0, std = 1

In [23]:
# machine learning workflow
# data(gather) ==> data preprocessing (normal distribution) ==> 
# ML Algoritham ==> Prediction ==> performance Evaluation.

# DATA PREPROCESSING

# (1). Standardization ==> mean = 0, standard deviation =

In [6]:
# DATA ==> independent data(x) , dependent data(y)

# (x) ===> x_train , x_test

# (y) ===> y_train , y_test

In [10]:
# machine (tranning data)==> prediction (Testing data)

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("C:\\Users\\snehr\\Desktop\\Datasets for pandas (24-05-2024)_files\\placement.csv")

In [4]:
df.head(2)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0

In [5]:
x = df.drop(columns = ['placed'] , axis = 1) ### Independent data
type(x)

pandas.core.frame.DataFrame

In [6]:
x.head(2)

   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17

In [7]:
y = df['placed'] ### Dependent or target data

In [8]:
print("Total data shape =" , df.shape)
print("Independent data shape =" , x.shape)
print("Dependent data shape =" , y.shape)

Total data shape = (100, 3)
Independent data shape = (100, 2)
Dependent data shape = (100,)

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train , x_test , y_tain , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [11]:
print("Total data shape = " , df.shape)
print("Independent data shape =" , x.shape)
print("Dependent data shape =" , y.shape)
print("x_train data shape=" , x_train.shape)
print("x_test data shape =" , x_test.shape)

Total data shape =  (100, 3)
Independent data shape = (100, 2)
Dependent data shape = (100,)
x_train data shape= (80, 2)
x_test data shape = (20, 2)

In [12]:
np.round(x_train.describe() , 1)

       cgpa  resume_score
count  80.0          80.0
mean    6.9           7.0
std     1.1           1.0
min     5.3           5.0
25%     6.0           6.3
50%     6.6           7.2
75%     8.1           7.7
max     9.3           9.1

In [13]:
# Now we will apply standardization so that we can convert our data into normal distribution.

# mean = 0
# standard deviation = 1

In [14]:
from sklearn.preprocessing import standardScaler

ImportError: cannot import name 'standardScaler' from 'sklearn.preprocessing' (C:\Users\snehr\anaconda3\Lib\site-packages\sklearn\preprocessing\__init__.py)