In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("C:\\Users\\snehr\\Desktop\\Datasets for pandas (24-05-2024)_files\\titanic.csv")

In [3]:
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S

In [6]:
x = df.drop(columns = ['Survived'] , axis = 1) ### Independent data
type(x)

pandas.core.frame.DataFrame

In [7]:
x.head(2)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S

In [9]:
y = df['Survived'] ### Dependent or target data

In [10]:
print("Total data shape =" , df.shape)
print("Independent data shape =" , x.shape)
print("Dependent data shape =" , y.shape)

Total data shape = (418, 12)
Independent data shape = (418, 11)
Dependent data shape = (418,)

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train , x_test , y_tain , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [13]:
print("Total data shape = " , df.shape)
print("Independent data shape =" , x.shape)
print("Dependent data shape =" , y.shape)
print("x_train data shape=" , x_train.shape)
print("x_test data shape =" , x_test.shape)

Total data shape =  (418, 12)
Independent data shape = (418, 11)
Dependent data shape = (418,)
x_train data shape= (334, 11)
x_test data shape = (84, 11)

In [14]:
df=pd.read_csv("C:\\Users\\snehr\\Desktop\\Datasets for pandas (24-05-2024)_files\\tips.csv")

In [15]:
df.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [17]:
x = df.drop(columns = ['smoker'] , axis = 1) ### Independent data
type(x)

pandas.core.frame.DataFrame

In [18]:
x.head(2)

   total_bill   tip     sex  day    time  size
0       16.99  1.01  Female  Sun  Dinner     2
1       10.34  1.66    Male  Sun  Dinner     3

In [20]:
y = df['smoker'] ### Dependent or target data

In [21]:
print("Total data shape =" , df.shape)
print("Independent data shape =" , x.shape)
print("Dependent data shape =" , y.shape)

Total data shape = (244, 7)
Independent data shape = (244, 6)
Dependent data shape = (244,)

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
x_train , x_test , y_tain , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [24]:
print("Total data shape = " , df.shape)
print("Independent data shape =" , x.shape)
print("Dependent data shape =" , y.shape)
print("x_train data shape=" , x_train.shape)
print("x_test data shape =" , x_test.shape)

Total data shape =  (244, 7)
Independent data shape = (244, 6)
Dependent data shape = (244,)
x_train data shape= (195, 6)
x_test data shape = (49, 6)

In [26]:
df=pd.read_csv("C:\\Users\\snehr\\Desktop\\Datasets for pandas (24-05-2024)_files\\covid_toy.csv")

In [27]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [28]:
x = df.drop(columns = ['gender'] , axis = 1) ### Independent data
type(x)

pandas.core.frame.DataFrame

In [29]:
x.head(2)

   age  fever cough     city has_covid
0   60  103.0  Mild  Kolkata        No
1   27  100.0  Mild    Delhi       Yes

In [30]:
y = df['gender'] ### Dependent or target data

In [31]:
print("Total data shape =" , df.shape)
print("Independent data shape =" , x.shape)
print("Dependent data shape =" , y.shape)

Total data shape = (100, 6)
Independent data shape = (100, 5)
Dependent data shape = (100,)

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
x_train , x_test , y_tain , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [34]:
print("Total data shape = " , df.shape)
print("Independent data shape =" , x.shape)
print("Dependent data shape =" , y.shape)
print("x_train data shape=" , x_train.shape)
print("x_test data shape =" , x_test.shape)

Total data shape =  (100, 6)
Independent data shape = (100, 5)
Dependent data shape = (100,)
x_train data shape= (80, 5)
x_test data shape = (20, 5)