# OneHotEncoding and Column Transfer

In [8]:
import numpy as np
import pandas as pd

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder 

from sklearn.preprocessing import OrdinalEncoder

In [9]:
df = pd.read_csv("C:\\Users\\snehr\\Desktop\\python\\covid_toy.csv")

In [10]:
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [11]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [12]:
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test = train_test_split(df.drop(
    columns = ['has_covid']), df['has_covid'] , test_size = 0.2)

In [13]:
x_train

    age  gender  fever   cough       city
76   80    Male  100.0    Mild  Bangalore
28   16    Male  104.0    Mild    Kolkata
40   49  Female  102.0    Mild      Delhi
52   47  Female  100.0  Strong  Bangalore
0    60    Male  103.0    Mild    Kolkata
..  ...     ...    ...     ...        ...
45   72    Male   99.0    Mild  Bangalore
77    8  Female  101.0    Mild    Kolkata
34   74    Male  102.0    Mild     Mumbai
87   47    Male  101.0  Strong  Bangalore
1    27    Male  100.0    Mild      Delhi

[80 rows x 5 columns]

# Manually type output

In [14]:
# adding simple imputer to fever column 
si = SimpleImputer()
x_train_fever = si.fit_transform(x_train[['fever']])

# also the test data

x_test_fever = si.fit_transform(x_test[['fever']])

x_train_fever.shape

(80, 1)

In [15]:
# Ordinal Encoding==> cough

oe = OrdinalEncoder(categories = [['Mild' , 'Strong']])
x_train_cough = oe.fit_transform(x_train[['cough']])

# also the test data
x_test_cough = oe.fit_transform(x_test[['cough']])

x_train_cough.shape

(80, 1)

In [16]:
# OneHotEncoding ==> gender , city

ohe = OneHotEncoder (drop = 'first' , sparse = False )
x_train_gender_city = ohe.fit_transform(x_train[['gender' , 'city']])

# also the test data 
x_test_gender_city = ohe.fit_transform(x_test[['gender' , 'city']])

x_train_gender_city.shape

C:\Users\snehr\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\snehr\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80, 4)

In [17]:
# Extracting Age 
x_train_age = x_train.drop(columns = 
                           ['gender' , 'fever' , 'cough' , 'city']).values
# also the test data

x_test_age = x_test.drop(columns= 
                         ['gender' , 'fever' , 'cough' , 'city']).values

In [18]:
x_train_age.shape

(80, 1)

In [19]:
x_train_transformed = np.concatenate((x_train_age , x_train_fever ,
                                      x_train_gender_city , 
                                      x_train_cough) , axis = 1)

In [20]:
# x_test_transformed = np.concatenate(( x_test_age , x_test_fever , x_test_gender_city , x_test_cough)

In [21]:
x_train_transformed.shape

(80, 7)

# by the help of column Transformer

In [22]:
from sklearn.compose import ColumnTransformer  # this is how to import ColumnTransformer

transformer  = ColumnTransformer(transformers =[
    ('tnf1',SimpleImputer(),['fever']),  # in a 'fever' column by the help of si we fill missing values 
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),  # by this process
    ('tnf3',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
],remainder='passthrough') #

In [23]:
transformer.fit_transform(x_train).shape

C:\Users\snehr\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80, 7)

In [24]:
transformer.transform(x_test).shape

(20, 7)